
.flex-container {
    display: flex;
  }
  
  .column-left {
    flex: 0 0 70%;  
   
  }
  
  .column-right {
    flex: 0 0 30%;  
    
   margin-top: 20px;
  }

  .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
  }
  
  .profile-image {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
  }